<div class="container">
  <h1>Add Users</h1>

<form [formGroup] = "usrform" (ngSubmit) = "sendData()">
  <div>
    <label for="name">Name</label>
    <input type="text" name = "name" id = "name" formControlName = "name" >
  </div>
  <div>
    <label for="phonenumber">Phone</label>
    <input type="text" name = "phonenumber" id = "phonenumber" formControlName = "phonenumber">
  </div>
  <input type="submit" class="btn btn-success" value = "Send User">
</form>

</div>